
    body {
	font-family: Verdana;
    }

    table.pvtTable .pvtRowLabel {
	    vertical-align: top;
	    white-space: nowrap;
        /* border: 0; */
        background-color: white;
        border-width: 0px 0px thin 0px !important;
    }

    table.pvtTable .pvtRowLabelFiller {
        background-color: white;
        /* border: 0; */
    }

    table.pvtTable .pvtRowSubtotal.rowcollapsed {
	    background-color: #EFEFEF !important;
    }

    table.pvtTable .pvtColLabel {
	    white-space: nowrap;
    }

    table.pvtTable .pvtColLabelFiller {
        background-color: white;
        /* border: 0; */
    }

    table.pvtTable .pvtColSubtotal.colcollapsed {
	    background-color: #EFEFEF !important;
    }

    table.pvtTable .pvtAxisLabel {
	    white-space: nowrap;
    }

    .pvtRowSubtotal {
	    /* background-color: #EFEFEF !important; */
	    font-weight:bold;
    }

    .pvtColSubtotal {
	    /* background-color: #EFEFEF !important; */
	font-weight:bold;
    }

    .expanded {
	    cursor: pointer
    }
